.THIS {
    background-color:Yellow;
    padding-top:10px;
}
h1.THIS{
    font-size:60px;
    color:green;
    
}
.THIS h1{
    font-weight:bold;
}
.THIS .red{
    background-color:red;
    color:white;
    font-size:30px;
}
.THIS .green{
    background-color:green;
    color:pink;
    font-size:40px;
}
.THIS .blue{
    background-color:blue;
    color:red;
    font-size:20px;
}