<apex:page >

    <script src="../../soap/ajax/30.0/connection.js" type="text/javascript">
    </script>
    <script>
        var printresult='\n';
        var result = sforce.connection.login("prakash4asha@1709.com", "@.chinny.143#ulg4g6dZ9TXhpcQeIbEpx9R0k");
        sforce.connection.sessionId = result.sessionId;
        var myrecord = sforce.connection.query("select Name, Id from Account");
        var records = myrecord.getArray("records");
        for(var i=0;i<records.length;i++){
          printresult = printresult+'Account Names ==> '+records[i].Name+' == My Id==>'+records[i].Id+'\n';
        }
        alert(printresult);
    </script>
</apex:page>