<apex:page showHeader="false" sidebar="false" controller="CreateClass" standardStylesheets="true">

<apex:Pagemessages id="msg"/>

<!-- To allow Salesforce to display error messages -->

<center><div><b><font color="Blue" size="28">VENDOR PORTAL</font></b></div></center>

<apex:form >

<b><font color="Red" size="12"><center>Creating A Vendor</center></font></b><br />

<div style="text-align:center">
<p><b><font color="Black">Vendor Company</font> &nbsp;</b>

<apex:inputText id="vendor" value="{!vendor}"/></p>
<p>
<b><font color="Black">Select Recruter</font> &nbsp; &nbsp;</b>
<apex:selectList value="{!recruter}" multiselect="false" size="1">
                <apex:selectOption itemValue="MAHENDRA" itemLabel="MAHENDRA"/>
                <apex:selectOption itemValue="NARESH" itemLabel="NARESH"/>
                <apex:selectOption itemValue="PHANI" itemLabel="PHANI"/>
                <apex:selectOption itemValue="PRAKASH" itemLabel="PRAKASH"/>
                <apex:selectOption itemValue="RICK" itemLabel="RICK"/>
            </apex:selectList>
</p>
<p>
<b><font color="Black">Enter Domain</font> &nbsp; &nbsp; &nbsp; </b>
<apex:inputText id="domain" value="{!domain}"/></p>

<p><apex:commandButton action="{!create}" value="CREATE" id="create"/> &nbsp;
<apex:commandButton action="{!logout}" value="Log Out" id="cancel"/>

</p>

</div>

<style>

html,body{

background-image:url('https://www.whatswithtech.com/wp-content/uploads/2015/09/new-material-design-wallpaper-chrome.jpg');

background-repeat: no-repeat;

background-size: 100% 100% ;

height:100%;

float:top;

}
input {
    text-transform:uppercase;
}

</style>
</apex:form>

</apex:page>