.THIS {
    background-color:gray;
}
.THIS .white{
    background-color:blue;
    font-size:30px;
    padding-top:10px;
}
.THIS .red{
    background-color:red;
}
.THIS .orange{
    background-color:orange;
}
.THIS .blue{
    background-color:blue;
}